{% extends 'alls.html' %}
{% load static %}
{% block content %}
<h2>
<a href="{% url 'shopping_books' %}"><button type="button" class="btn btn-primary">📚 Haridlarim</button></a>
<a href="{% url 'like_books' %}"><button type="button" class="btn btn-success">🛒 Kutilayotganlar</button></a>
<a href="{% url 'person' %}"><button type="button" class="btn btn-warning">👤 Profile</button></a>
<a href="{% url 'home' %}"><button type="button" class="btn btn-danger">⬅️ Back</button></a>

</h2>


{% endblock %}