<!DOCTYPE html>
{% extends 'alls.html' %}
{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>comment</title>
</head>
<body>
<h3>
{% for comment in commit %}
    <div class="container">
        <h1>{{ car.name }}</h1>
        <div class="car-details">
            <div class="book-image">
                {% for book in books %}
                   <img src="{{ book.image.url }}"  alt=" not picture " width="200" >
                {% endfor %}
            </div>
            <div class="car-info">
                <p><strong>User:</strong> {{ comment.user }}</p>
                <p><strong>Comment:</strong> {{ comment.text }}</p>
                <p><strong>Books:</strong>
                              {{book.book.title}}
                </p>
                <p><strong>Data:</strong> {{ comment.create_date }}</p><br>///////////////////////////////////<br>
            </div>
        </div>
    </div>
{% endfor %}
    </h3>
<a href="{% url 'books' %}" class="btn btn-primary">Back</a>
</body>
</html>
{% endblock %}